* {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.calculator {
    background-color: darkblue;
    border: 2px white solid;
    border-radius: 8px;
    height: 440px;
    width: 260px;
}

.top-container {
    display: flex;
    justify-content: center;
    background-color: darkblue;
    border-radius: 8px;
}

#display {
    display: flex;
    background-color: lightgray;
    color: darkgray;
    width: 180px;
    height: 36px;
    margin: 25px 20px;
    border-radius: 3px;
    align-items: center;
    justify-content: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

#branding {
    display: flex;
    background-color: darkblue;
}

#brand-name {
    background-color: darkblue;
}

#branding-left {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
}

#branding-right {
    display: flex;
    background-color: darkblue;
}

#solar {
    display: flex;
    background-color: darkgray;
    width: 68px;
    height: 22px;
}

.box {
    display: flex;
    background-color: darkgray;
    width: 15px;
    height: 20px;
    border: 1px black solid;
}

.row {
    display: flex;
    background-color: darkblue;
}

#operations {
    display: flex;
    background-color: darkblue;
}

#operations-left {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
}

#operations-right {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
}

.operator {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    background-color: red;
    width: 40px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
}

.number {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    background-color: white;
    color: black;
    width: 40px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
}

#equal {
    height: 70px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}