* {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'digital_dreamregular';
    src: url('digitaldream-webfont.woff2') format('woff2'),
         url('digitaldream-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.calculator {
    background-color: darkblue;
    border: 2px white solid;
    border-radius: 8px;
    height: 440px;
    width: 260px;
}

.top-container {
    display: flex;
    justify-content: center;
    background-color: darkblue;
    border-radius: 8px;
    height: 74px;
}

.banner {
    display: flex;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
}

.edge {
    background-color: darkblue;
    width: 34px;
    height: 44px;
    border-top: #333 1px solid;
    border-bottom: #333 1px solid;
}

.center {
    display: flex;
    background-color: #333;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 190px;
    border-radius: 3px;
}

#display {
    display: flex;
    background-color: lightgray;
    color: #333;
    width: 180px;
    height: 36px;
    border-radius: 3px;
    align-items: center;
    justify-content: right;
    font-family: 'digital_dreamregular', 'Courier New', Courier, monospace;
    font-size: 24px;
}

#branding {
    display: flex;
    background-color: darkblue;
    border-bottom: 1px solid #333;
}

#brand-name {
    background-color: darkblue;
    padding: 5px 15px;
}

#branding-left {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
}

#branding-right {
    display: flex;
    background-color: darkblue;
    padding: 5px;
    font-size: 24px;
    font-weight: 700;
}

#solar {
    display: flex;
    background-color: darkblue;
    width: 128px;
    height: 50px;
    padding-left: 15px;
}

.box {
    display: flex;
    background-color: #333;
    width: 26px;
    height: 30px;
    border: 1px black solid;
    margin: 5px 0px;
}

.row {
    display: flex;
    background-color: darkblue;
}

#operations {
    display: flex;
    background-color: darkblue;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 3px;
}

#operations-left {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
}

#operations-right {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    margin-left: 22px;
}

.operator {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    background-color: red;
    width: 39px;
    height: 28px;
    border: 1px black solid;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 3px;
}

.number {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    background-color: white;
    color: black;
    width: 39px;
    height: 28px;
    border: 1px black solid;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 3px;
}

#equal {
    height: 70px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}